<section data-route="/" data-title="Dashboard | Auth11" class="content-page">
	<div id="content-header">
		<h1>Dashboard</h1>
	</div>
	<div id="breadcrumb">
		<a href="#/" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				
			</div>
		</div>
	</div>
</section>