<div class="control-group">
	<label class="control-label">Attributes</label>
	<div class="controls">
		<label>
			<input type="checkbox" name="radios">
			Google User ID
		</label>
		<label>
			<input type="checkbox" name="radios">
			Email
		</label>
		<label>
			<input type="checkbox" name="radios">
			Verified Email (true/false)
		</label>
		<label>
			<input type="checkbox" name="radios">
			Name
		</label>
		<label>
			<input type="checkbox" name="radios">
			Given Name
		</label>
		<label>
			<input type="checkbox" name="radios">
			Family Name
		</label>
		<label>
			<input type="checkbox" name="radios">
			Groups <span class="label label-warning">WARNING</span><span class="help-block">Obtaining the groups of the user requires the administrator of the Google Apps domain to give explicit permission to the Groups Provisioning API <a href="#readmore">read below...</a></span>
		</label>
		<label>
			<input type="checkbox" name="radios">
			Is Administrator (true/false) <span class="label label-warning">WARNING</span><span class="help-block">Getting if the user is an administrator of the Google Apps domain requires the administrator to give explicit read-only permission to the User Provisioning API <a href="#readmore">read below...</a></span>
		</label>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<h4>How to give permissions to query user groups in a Google Apps domain? (optional)</h4>
		<ol>
			<li>Login to the Google Apps control panel with a domain administrator</li>
			<li>Go to Advanced Tools tab</li>
			<li>Click on <strong>Manage third party OAuth Client access</strong> on the Authentication section</li>
			<li>Enter <strong>auth10.com</strong> on the client name</li>
			<li>Enter <strong>https://apps-apis.google.com/a/feeds/group/#readonly, https://apps-apis.google.com/a/feeds/user/#readonly</strong> on the API Scopes</li>
		</ol>
		<p>
			<strong>Note:</strong> This will give access to Auth10 to query (not write) the connection directory for groups and users.
		</p>
	</div>
</div>